/* Normalize */

body {
    padding: 0;
    margin: 0;
}

p,
span {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: gray;
}

.clearfix {
    clear: both;
}

/* Main */

.app-background {
    padding: 74px 0;
    background-image: url("../resources/graphics/background.png");
    background-attachment: fixed;
}

.app-foreground {
    max-width: 930px;
    min-height: 620px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 0px 9px 2px #a8a8a8
}

/* Search Bar */

.search-bar-container {
    background-color: #1c688e;
    height: 40px;
    display: flex;
    padding: 25px;
}

.search-bar {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 6px;
    padding-left: 16px;
    font-size: 20px;
    color: #BBB;
    font-family: 'Open Sans', sans-serif;
}

.search-bar:focus {
    color: black;
}


/* Refinements */

.refinements {
    width: 400px;
    margin: 16px 30px;
    border-right: 1px solid #d9d9d9;
}

.refinements h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.refinements ul {
    list-style: none;
    padding: 0;
}

.refinements li {
    width: 90%;
}

.refinements li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}


/* Cuisine */

.cuisine li:hover,
.cuisine li.active {
    background-color: #2897c5;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.cuisine li:hover span,
.cuisine li.active span {
    color: white;
    cursor: pointer;
}

.cuisine .name {
    color: black;
    font-weight: 600;
    margin-left: 15px;
}

.cuisine .count {
    float: right;
    margin-right: 15px;
}


/* Rating */

.star-rating-menu {
    margin-left: 12px;
}

.star-rating-menu li:hover span,
.star-rating-menu li.active span {
    text-shadow: 2px 2px 2px rgb(180, 180, 171);
    transition: 0.3s;
    cursor: pointer;
}


/* Payments */

.payments span {
    padding-left: 10px;
}


/* Results */

.results-index {
    width: 100%;
}

.results-box {
    display: flex;
}

.result-stats-container {
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

.result-stats {
    padding-top: 32px;
}

.search-results {
    padding-top: 20px;
}

.search-results img {
    height: 100px;
    width: 100px;
}

.image-container {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.description {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.description>* {
    padding-bottom: 5px;
}

.place-name {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}


/* Stars */

.rating {
    color: #ffac68;
}

.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 20px;
}

.stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #e2e2e2;
}

.stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #ffac68;
    overflow: hidden;
}

.stars-0:after {
    width: 0%;
}

.stars-10:after {
    width: 10%;
}

.stars-20:after {
    width: 20%;
}

.stars-30:after {
    width: 30%;
}

.stars-40:after {
    width: 40%;
}

.stars-50:after {
    width: 50%;
}

.stars-60:after {
    width: 60%;
}

.stars-70:after {
    width: 70%;
}

.stars-80:after {
    width: 80%;
}

.stars-90:after {
    width: 90%;
}

.stars-100:after {
    width: 100%;
}


/* Error */

.error>* {
    padding: 20px;
}

.error img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}


/* Pager */

.pager {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}

.pager * {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.pager .current-page {
    line-height: 73px;
}

.pager button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: gray;
}

button:focus {
    outline: 0;
}


/* Highlight */

.highlight {
    font-style: normal;
    background-color: rgb(255, 255, 189);
}

/* Smaller Screens */

@media (max-width: 930px) {
    .app-background {
        padding-top: 0;
        height: 100vh;
    }
    .app-foreground {
        width: 100%
    }
    .line {
        display: none;
    }
    span,
    p {
        font-size: 10px;
    }
}

@media (max-width: 593px) {
    .results-box {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .refinements {
        width: 90%;
        border-right: none;
    }
    .results-index {
        width: 90%;
        padding-left: 10%;
    }
    .search-bar {
        font-size: 3.2vw;
    }
    .search-results img,
    .image-container {
        height: 75px;
        width: 75px;
    }
}

@media (max-width: 450px) {
    .search-bar {
        padding-left: 5px;
        font-size: 3vw;
    }
    .search-results img,
    .image-container {
        height: 50px;
        width: 50px;
    }
    .description {
        margin-left: 10px;
    }
    .description p,
    .description span {
        font-size: 10px;
        padding: 0;
    }
}